.table {
    margin: 0 auto;
    font-size: 18px;

    &-header {
        font-weight: normal;
        margin-bottom: 10px;
        border-bottom: none;
        display: grid;
        text-align: center;
        height: 30px;
    }

    &-line {
        border-bottom: 1px solid #afafaf;
        font-weight: 600;
        align-items: center;
        display: grid;
        text-align: center;
        height: 40px;
    }
}

.black {
    border-bottom: 1px solid black;
}

.lightGray {
    border-bottom: 1px solid rgb(205, 205, 205);
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: 600;
}

.low {
    height: 30px;
}

.high {
    height: 40px;
}

.veryhigh {
    height: 50px;
}

.markets {
    grid-template-columns: 5% 30% 25% 20% 20%;
}

.wallet-modal {
    grid-template-columns: 24% 12% 26% 26% 12%;
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .adaptive {
        display: none;
    }

    .markets {
        grid-template-columns: 20% 40% 40%;
    }

    .wallet-modal {
        grid-template-columns: 27% 15% 40% 18%;
        font-size: 16px;
    }
}
